* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
  ul {
      list-style-type: none;
      margin: 0;
      padding: 10;
      overflow: hidden;
      background-color: #FC8110;

    }


    li {
      float: left;
    }

    li a {
      display: block;
      color: rgb(255, 217, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: rgb(5, 204, 21);
    }

    li.log {
      margin-left: 2px;
      border-radius: 3px;
      border: 1px solid rgb(255, 0, 0);
    }

    li.sig {
      border-radius: 3px;
      margin-left: 2px;
      border: 1px solid rgb(240, 0, 0);
    }

    div.logo {
      border-radius: 8px;
      text-align: left;
      margin: 5px;
      padding-left: 20px;
    }

    div.gallery {
      margin-left: 28px;
      border: 1px solid #ccc;
      float: left;
      width: 400px;
      border-radius: 10px;
      background-color: white;
    }

    div.gallery:hover {
      border: 1px solid #777;
      transform: scale(1.5);
      transition: .5s transform;
    }

    div.gallery img {
      width: 100%;
      height: auto;
      border-radius: 10px;

    }

    div.desc {
      padding: 15px;
      text-align: center;
    }

    .footer {
      padding: 20px;
      display: block;
      text-align: center;
      background: #ddd;
      color: #d3d3d3;
      height: 20px;

    }
